<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="user_profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="sort">
        <div class="name_sort">Сортировка</div>
        <div class="sort_button">по городу</div>
        <div class="sort_button">по компании</div>
      </div>
      <div class="main_content">
        <div class="container_vert">
          <div class="main_name">Профиль пользователя</div>
          <div class="button_for_redaction">Редактировать</div>
        </div>
        <div class="user_information"></div>
      </div>
    </div>
  </body>
</html>
