<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="users_list.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="sort">
        <div class="name_sort">Сортировка</div>
        <div class="sort_button">по городу</div>
        <div class="sort_button">по компании</div>
      </div>
      <div class="main_content">
        <div class="main_name">Список пользователей</div>
        <div class="user_cards">
          <div class="user_card">
            <div class="text_line">
              <span class="gray_text">ФИО:</span>
              <span class="black_text">Иван Иванов</span>
            </div>
            <div class="text_line">
              <span class="gray_text">город:</span>
              <span class="black_text">Москва</span>
            </div>
            <div class="text_line">
              <span class="gray_text">компания:</span>
              <span class="black_text">ООО “Пример”</span>
              <span class="link_text">Подробнее</span>
            </div>
          </div>
          <div class="user_card">
            <div class="text_line">
              <span class="gray_text">ФИО:</span>
              <span class="black_text">Иван Иванов</span>
            </div>
            <div class="text_line">
              <span class="gray_text">город:</span>
              <span class="black_text">Москва</span>
            </div>
            <div class="text_line">
              <span class="gray_text">компания:</span>
              <span class="black_text">ООО “Пример”</span>
              <span class="link_text">Подробнее</span>
            </div>
          </div>
          <div class="user_card">
            <div class="text_line">
              <span class="gray_text">ФИО:</span>
              <span class="black_text">Иван Иванов</span>
            </div>
            <div class="text_line">
              <span class="gray_text">город:</span>
              <span class="black_text">Москва</span>
            </div>
            <div class="text_line">
              <span class="gray_text">компания:</span>
              <span class="black_text">ООО “Пример”</span>
              <span class="link_text">Подробнее</span>
            </div>
          </div>
          <div class="user_card">
            <div class="text_line">
              <span class="gray_text">ФИО:</span>
              <span class="black_text">Иван Иванов</span>
            </div>
            <div class="text_line">
              <span class="gray_text">город:</span>
              <span class="black_text">Москва</span>
            </div>
            <div class="text_line">
              <span class="gray_text">компания:</span>
              <span class="black_text">ООО “Пример”</span>
              <span class="link_text">Подробнее</span>
            </div>
          </div>
          <div class="user_card">
            <div class="text_line">
              <span class="gray_text">ФИО:</span>
              <span class="black_text">Иван Иванов</span>
            </div>
            <div class="text_line">
              <span class="gray_text">город:</span>
              <span class="black_text">Москва</span>
            </div>
            <div class="text_line">
              <span class="gray_text">компания:</span>
              <span class="black_text">ООО “Пример”</span>
              <span class="link_text">Подробнее</span>
            </div>
          </div>
          <div class="user_card">
            <div class="text_line">
              <span class="gray_text">ФИО:</span>
              <span class="black_text">Иван Иванов</span>
            </div>
            <div class="text_line">
              <span class="gray_text">город:</span>
              <span class="black_text">Москва</span>
            </div>
            <div class="text_line">
              <span class="gray_text">компания:</span>
              <span class="black_text">ООО “Пример”</span>
              <span class="link_text">Подробнее</span>
            </div>
          </div>
        </div>
        <div><span class="count_text">Найдено 6 пользователей</span></div>
      </div>
    </div>
  </body>
</html>
